
:root {
    --outline:rgb(151, 6, 6);
    --marg: 1em;
    --links: crimson;
    --page-header: crimson;
}

/*Sets font style, background color/image as a linear gradient, text color, and margin space for the body of the page.*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgb(29, 78, 152), rgb(84, 161, 43), rgb(202, 81, 48));
    color: rgb(4, 161, 33);
    margin: var(--marg);
}

/* Gives a responsive design, border style and color, and margin spacing to each area on the page. */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-size: cover;
    align-content: center;
    align-items: center;
}

header nav {
    flex: 1 1 auto;
}

main, aside, .contact-me {
    display: flex;
    background-color: rgb(11, 2, 57);
    border: solid;
    border-color: var(--outline);
    border-style:double;
    margin: var(--marg);
}

/* Allows nav menus at the top and bottom of the page to flex and creates skew for borders for each line item.*/
nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    list-style-type: none;
    transform: skew(5deg);
    flex: 1 0 auto;
}

/* Gives text for each Header 3 on page a bolder font-weight and a glowing effect from the text-shadow.*/
h3 {
    font-weight: 550;
    text-shadow: .2em .2em 15px rgb(4, 161, 33);
}

/* Gives each Header 4 a thinner font-weight on page.*/
h4{
    font-weight: 325;
}

/* Gives page Header and Nav anchors a responsive design, border style, and border color. Gives text alignment, style, and color.*/
header h1, nav ul li a {
    margin: var(--marg);
    padding: .15em;
    background-color: black;
    text-align: center;
    border: 10px solid;
    border-style: double;
}

header h1 {
    color:var(--page-header);
    font-style: oblique;
    border-color:var(--page-header);
    flex: 0 0 auto;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: var(--links);
    border-color: var(--links);
}

/* Allows the content in the About Me section to flex responsively and aligns content.*/
.about-me {
    display: flex;
    flex-wrap: wrap;
}

.am-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 200px;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

/* Gives the About Me image a set scale size and a rounded, double-lined, and colored border.*/
.about-me img { 
    width: 200px;
    height: 200px;
    border-radius: 1000%;
    border: solid;
    border-color: var(--outline);
    border-style: double;
    margin: var(--marg);
    flex: 0 0 auto;
}

/* Creates a margin space for the About Me paragraph.*/
.about-me p {
    margin: var(--marg);
}

/* Allows the content in the My Projects section to flex responsively and aligns content. */
aside, .my-projects, .project-1, .temp-holder {
    display: flex;
    flex-wrap: wrap;
    margin: var(--marg); 
} 

aside {
flex-direction: column;
align-items: center;
align-content: center;
}

.my-projects {
  flex: 0 auto;
  justify-content: center;
}

.project-1  {
    flex-direction: column;
    align-items: center;
    flex: 1 0 100%;  
}

.temp-holder {
    flex-direction: column;
    align-items: center;
    flex: 0 0 40%;
}

/*Scales the image for project-1.*/
.project-1 img {
    height: auto;
    width: 350px;
}

/* Allows the content in the Contact Me section to flex responsively and aligns content. */
.contact-me {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: var(--marg);
}
/* Allows the links in the Contact Me section to flex responsively and aligns content. */
.contact-me p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: var(--marg);
    flex: 1 0 auto;
}

/* Creates highlight when hovering over each project image.*/
.project-1 img:hover, .temp-holder img:hover {
    opacity: .5;
    background-color: yellow;
}


/* Changes text color when hovering over each Nav link within page*/
nav ul li a:hover {
    color: white;
}

/*Changes page responsiveness for content within different media device screen views.*/
@media screen and (max-width: 600px) {
   nav {
    display: flex;
   }

   nav ul {
    flex-direction: column;
    flex: 0 1 100%;
   }

    header {
    align-content: space-around;
   }

    .project-1 img {
        width: 275px;
    }
}